#content-header {
    color: red;
    text-align: center;
}

h3 {
    color: gray;
    background-color: rgb(246, 239, 239);
}

p {
    text-align: center;
    background-color: rgb(246, 239, 239);
}

h4 {
    text-align: center;
    color: rgb(119, 147, 172);
    background-color: rgb(246, 239, 239);
}